<ion-header>
    <ion-navbar color="primary">
        <ion-title>Inclusão Rápida</ion-title>    
    </ion-navbar> 

    <ion-toolbar color="primary">
        <ion-searchbar (ionInput)="buscarIngredientes($event)" placeholder="Buscar"></ion-searchbar>
    </ion-toolbar>

</ion-header>


<ion-content padding>

    <ion-item *ngFor="let ingrediente of selectIngredientesListRef$ | async">
        <h2>{{ingrediente.nome}}</h2>  
        <button ion-button clear item-end>
            <ion-icon name="md-add-circle" color="secondary" (click)="inclusaoRapida(ingrediente)"></ion-icon>
        </button>
        <button *ngIf="!modoFiltro" ion-button clear item-end>
            <ion-icon name="md-arrow-dropdown-circle" color="secondary" (click)="abrirModalIngrediente(ingrediente)"></ion-icon>  
        </button>
    </ion-item>  
</ion-content>
