<ion-header no-border>
    <ion-navbar>
        <ion-title>
          {{receita.titulo}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content fullscreen elestic-header>
    
    <img [src]="receita.imagem" width="100%">

    <section class="main-content">
        <ion-grid class="main-features">
            <ion-row>
                <ion-col text-center (click)="adicionarFavoritos(receita)">
                    <ion-icon [name]="iconeFavorito" [color]="corIconeFavorito"></ion-icon>
                    <span class="item-block">{{ textoFavorito }}</span>
                </ion-col>

                <ion-col text-center>
                    <ion-icon name="restaurant"></ion-icon>
                    <span class="item-block">Receitas semelhantes</span>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid class="listing-details">

            <ion-row *ngIf="receita.descricao">
                <p margin-left margin-right no-margin-top style="text-align: justify">
                    {{receita.descricao}}
                </p>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-icon name="alarm"></ion-icon>{{receita.tempoPreparo}} minutos
                </ion-col>

                <ion-col>
                    <ion-icon name="restaurant"></ion-icon>Serve {{receita.porcoes}} porções
                </ion-col>
            </ion-row>

        </ion-grid>

        <ion-grid>
            <h2 margin-left>Ingredientes</h2>

            <ion-row *ngFor="let ingrediente of receita.ingredientes">
                <ion-col>
                    {{ingrediente}}
                </ion-col>
                <button ion-button clear item-end>
                    <ion-icon name="more"></ion-icon>  
                </button>
            </ion-row>

        </ion-grid>

        <ion-grid>
            <h2 margin-left>Modo de Preparo</h2>

            <ion-row *ngFor="let passos of receita.modoPreparo; let i = index">
                <ion-col>
                    <span>{{i + 1}}</span>
                    {{passos}}
                </ion-col>
            </ion-row>

        </ion-grid>      

    </section>
 
</ion-content>


