<ion-header>

    <ion-navbar color="primary">

        <button ion-button menuToggle="menu-geral">
            <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>{{view}}</ion-title>
        <ion-buttons start>
            <button ion-button
                    *ngIf="existeItemChecado && view == 'Lista De Compras'"
                    (click)="adicionarItensCompraAosIngredientes()">
                <ion-icon class="icon-add-compras" name="md-cart"></ion-icon>
            </button>
        </ion-buttons>     
    </ion-navbar>

    <ion-toolbar>
        <ion-segment [(ngModel)]="view">
            <ion-segment-button value="Meus Ingredientes">Meus ingredientes</ion-segment-button>
            <ion-segment-button value="Lista De Compras">Lista de Compras</ion-segment-button>
        </ion-segment>
    </ion-toolbar>
    
</ion-header>

<ion-content padding>

    <div [ngSwitch]="view">
        <ion-list *ngSwitchCase="'Meus Ingredientes'">
            <button ion-item *ngFor="let ingrediente of ingredientesListRef$ | async"
            (click)="editarIngrediente(ingrediente,view)">
                <h2>{{ingrediente.nome}}</h2>
                <h3>Quantidade: {{ingrediente.quantidade}}</h3>

                <button ion-button clear item-end>
                    <ion-icon class="icon-excluir" name="md-close-circle" 
                              color="danger" (click)="excluirIngrediente(ingrediente)">
                    </ion-icon>  
                </button>

            </button>
            
        </ion-list>


        <div *ngSwitchCase="'Lista De Compras'">
        
            <ion-list>
                <ion-item *ngFor="let itemCompra of itensCompraListRef$ | async">
                    <ion-checkbox [(ngModel)]="itemCompra.checado" color="primary" (ionChange)="atualizaChecados(itemCompra)"></ion-checkbox>
                    <ion-label>{{itemCompra.nome}}</ion-label>
                    <ion-label class="quantidade">Quantidade: {{itemCompra.quantidade}}</ion-label>
                    <button ion-button clear item-end>
                        <ion-icon class="icon-excluir" name="md-close-circle" 
                                    color="danger" (click)="excluirIngrediente(itemCompra)">
                        </ion-icon>  
                    </button>
                </ion-item>
            </ion-list>
        </div>  
    

    </div>

    <ion-fab *ngIf="autenticado" bottom right #fab>
        <button ion-fab color="secondary">
            <ion-icon name="add"></ion-icon>
        </button>

        <ion-fab-list side="left">                        
            <button ion-button round color="secondary">                
                QRCode                
            </button>
            <button ion-button round color="secondary" (click)="inserirMultiplosIngredientes(fab,view)">
                Incluir
            </button>            
        </ion-fab-list>

    </ion-fab>



</ion-content>
