<ion-header>

    <ion-navbar color="primary">
        <ion-title>Filtrar Receitas</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    
    <ion-item>
        <ion-toggle [(ngModel)]="filtroReceitas.habilita"></ion-toggle>
        <ion-label> Habilitar Filtros </ion-label>
        <ion-icon name='funnel' color="primary" item-start></ion-icon>
    </ion-item>

    <ion-list>

        <ion-list-header>Filtros</ion-list-header>

        <ion-item>
            <ion-icon name='restaurant' item-start></ion-icon>
            <ion-label>Tipo de Receita</ion-label>
            <ion-select [(ngModel)]="filtroReceitas.tipo" cancelText="Cancelar">
                <ion-option 
                  *ngFor="let tipo of tipos" 
                  [value]="tipo">
                  {{tipo}}
                </ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-icon name='md-globe' item-start></ion-icon>
            <ion-label>Regiões</ion-label>
            <ion-select [(ngModel)]="filtroReceitas.regiao" cancelText="Cancelar">
                <ion-option 
                  *ngFor="let regiao of regioes" 
                  [value]="regiao">
                  {{regiao}}
                </ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-icon name='calendar' item-start></ion-icon>
            <ion-label>Datas Comemorativas</ion-label>
            <ion-select [(ngModel)]="filtroReceitas.dataComemorativa" cancelText="Cancelar">
                <ion-option 
                  *ngFor="let dataComemorativa of datasComemorativas"
                  [value]="dataComemorativa">
                  {{dataComemorativa}}
                </ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-icon name='clock' item-start></ion-icon>
            <ion-label>Tempo de Preparo</ion-label>
            <ion-select [(ngModel)]="filtroReceitas.tempoPreparo" cancelText="Cancelar">
                <ion-option 
                  *ngFor="let tempoPreparo of temposPreparo"
                  [value]="tempoPreparo">
                  {{tempoPreparo}}
                </ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-icon name='people' item-start></ion-icon>
            <ion-label>Rendimento</ion-label>
            <ion-select [(ngModel)]="filtroReceitas.rendimento" cancelText="Cancelar">
                <ion-option 
                  *ngFor="let rendimento of rendimentos"
                  [value]="rendimento">
                  {{rendimento}}
                </ion-option>
            </ion-select>
        </ion-item>

        <ion-list-header>
            Ingredientes Indispensáveis
            <!-- <button item-end ion-button icon-only clear (click)="addThing()">
                <ion-icon color="primary" name="add-circle"></ion-icon>
            </button> -->
        </ion-list-header>
              <!-- <ion-item-sliding #slidingItem *ngFor="let thing of things; let i = index; ">
                <ion-item #item>
                  <ion-icon item-start color="danger" name="remove-circle" (click)="openOption(slidingItem, item, $event)"></ion-icon> {{thing.title}}
                </ion-item>
                <ion-item-options icon-start (ionSwipe)="deleteItem(things, i)">
                  <button color="danger" ion-button expandable (click)="deleteItem(things, i)">
                    <ion-icon name="trash"></ion-icon>
                  </button>
                </ion-item-options>
              </ion-item-sliding> -->
    </ion-list>

    <button ion-button block outline (click)="resetarFiltros()">Resetar Filtros</button>

</ion-content>
