<ion-header>
  <ion-navbar color="primary">
    <ion-title>Receitas</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-card *ngFor="let receita of receitas">

        <img src="assets/img/palha_italiana.jpg">
        <ion-card-content>
            <h1>{{receita.titulo}}</h1>
        </ion-card-content>
        
        
        <ion-item>            
            <h1 color="secondary">100% dos ingredientes!</h2>            
        </ion-item>

        <ion-item>
            <ion-badge color="secondary" *ngFor="let tag of receita.tags">{{tag}}</ion-badge>
        </ion-item>

        <ion-item>
            <button ion-button icon-left clear item-left>
                <ion-icon name="alarm"></ion-icon>
                {{receita.tempoPreparo}}
            </button>
            <button ion-button icon-left clear item-left>
                <ion-icon name="restaurant"></ion-icon>
                {{receita.porcoes}}
            </button>
            <button ion-button icon-left clear item-end>
                <ion-icon name="heart" color="danger"></ion-icon>          
            </button>
        </ion-item>

    </ion-card>
</ion-content>